body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff6ed;

    color: #333;

}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    color: #e8c39e;

}

article {
    margin-top: 20px;
}

pre {
    background-color: #f3dbc3;
    padding: 10px;
    overflow-x: auto;
    border-radius: 8px;
}

code {
    color: #333;
}

a {
    display: block;

    text-align: center;

    font-size: 1.5em;

    color: #e8c39e;

    text-decoration: none;

    font-weight: bold;

    transition: color 0.3s ease-in-out;

    margin: 20px auto;

}

a:hover {
    color: #fdecd4;

}